dash==2.16.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-mantine-components==0.12.1
dash-mqtt==0.0.2
dash-table==5.0.0
dash_ag_grid==31.0.1
fastapi==0.115.2
influxdb-client==1.46.0
influxdb3-python==0.9.0
matplotlib
openai==1.59.5
paho-mqtt==2.1.0
pandas==2.2.3
pyarrow==10.0.1
scipy==1.10.0
seaborn